<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <img src="assets/image2.png" alt="img" class="center">
    </ion-toolbar>
  </ion-header>
  
<ion-content>
  <ion-searchbar></ion-searchbar>
  <ion-img src="assets/KU CHI TEA MENU/logo.jpg" alt="unique"></ion-img>
    <ion-toolbar>
      <ion-item-divider>
        <ion-label> <ion-icon name="ribbon"></ion-icon> Top Restaurant - Asian - Fast Food - Beverages - Meat 
          <br> - Chicken  </ion-label>
      </ion-item-divider>
    </ion-toolbar>
    <ion-item-group>
  
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title> Barkada Pack </ion-card-title>
      <ion-grid>
        <ion-row>
          <ion-col><img src="assets/KU CHI TEA MENU/BARKADA PACK/crispycoatedfries.png" alt="fries-logo"></ion-col>
          <ion-col><img src="assets/KU CHI TEA MENU/BARKADA PACK/steamedgyoza.png" alt="gyoza-logo"></ion-col>
        </ion-row>
      </ion-grid>
        <ion-button shape="round"> Select </ion-button>
    </ion-card-header>
  </ion-card>

  
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title> Frappuccino </ion-card-title>
      <ion-grid>
        <ion-row>
          <ion-col><img src="assets/KU CHI TEA MENU/FRAPPUCCINO/butterscotchcoffee.png" alt="butterscotch-logo"></ion-col>
          <ion-col><img src="assets/KU CHI TEA MENU/FRAPPUCCINO/darkmocha.png" alt="darkmocha-logo"></ion-col>
        </ion-row>
      </ion-grid>
      <ion-button> Select </ion-button>
    </ion-card-header>
  </ion-card>
  
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title> Ku Chi Snacks </ion-card-title>
      <ion-grid>
        <ion-row>
          <ion-col><img src="assets/KU CHI TEA MENU/KU CHI SNACKS/kuchibeefquesadilla.png" alt="quesadilla-logo"></ion-col>
          <ion-col><img src="assets/KU CHI TEA MENU/KU CHI SNACKS/meatyfries.png" alt="meatyfries-logo"></ion-col>
        </ion-row>
      </ion-grid>
      <ion-button> Select </ion-button>
    </ion-card-header>
  </ion-card>
  
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title> Ku Chi Premier </ion-card-title>
      <ion-grid>
        <ion-row>
          <ion-col><img src="assets/KU CHI TEA MENU/KU CHI PREMIER/kuchibrownsugarcreme.png" alt="brownsugar-logo"></ion-col>
          <ion-col><img src="assets/KU CHI TEA MENU/KU CHI PREMIER/oreomatchacreme.png" alt="oreo-logo"></ion-col>
        </ion-row>
      </ion-grid>
      <ion-button> Select </ion-button>
    </ion-card-header>
  </ion-card>
  
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title> Hot Drinks</ion-card-title>
      <ion-grid>
        <ion-row>
          <ion-col><img src="assets/KU CHI TEA MENU/HOT DRINKS/brownsugarlatte.png" alt="brownsugarlatte-logo"></ion-col>
          <ion-col><img src="assets/KU CHI TEA MENU/HOT DRINKS/cappuccino.png" alt="cappucino-logo"></ion-col>
        </ion-row>
      </ion-grid>
      <ion-button> Select </ion-button>
    </ion-card-header>
  </ion-card>